/* .App {
  text-align: center;
  color: white;
}
.borde {
  padding: 10%;
  margin-top: 20px;
  background-image: linear-gradient(
    to left bottom,
    #d1ad6b,
    #db8e62,
    #dc6e6d,
    #cb5484,
    #a34b9f,
    #895fba,
    #6171cf,
    #0081da,
    #00a2ed,
    #00c2f4,
    #00dff4,
    #5ffbf1
  );
  border-radius: 30px;
}
/*  */
/* .position-absolute {
  border-radius: 5px;

  position: absolute;
  top: 30px;
  left: 30px;
}
.input {
  padding: 5px;
  border: white;
  border-radius: 7px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.7);
  width: 350px;
  right: 30px;
}

.img-fluid {
  border-radius: 80%; */
 
/* .img-fluid { */
/* width: 90px; */
/* height: 150px; */
/* } */
/* .App-logo { */
/* height: 40vmin; */
/* pointer-events: none; */
/* } */
/*  */
/* @media (prefers-reduced-motion: no-preference) { */
/* .App-logo { */
/* animation: App-logo-spin infinite 20s linear; */
/* } */
/* } */
/*  */
/* .App-header { */
/* background-color: #282c34; */
/* min-height: 100vh; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* justify-content: center; */
/* font-size: calc(10px + 2vmin); */
/* color: white; */
/* } */
/*  */
/* .App-link { */
/* color: #61dafb; */
/* } */
/*  */
/* @keyframes App-logo-spin { */
/* from { */
/* transform: rotate(0deg); */
/* } */
/* to { */
/* transform: rotate(360deg); */
/* } */
/* } */
/*  */
